.env
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
venv/
.DS_Store
db.sqlite3
media/
*.swp
media/
hooks_config/
pre-commit
instagram_session.json
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
*/.benchmarks/*