{% extends 'base.html' %}

{% block content %}
  <h2>{{ title }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Profile Pictures</th>
        <th>Followers</th>
      </tr>
    </thead>
    <tbody>
      {% for statistic in statistics %}
        <tr>
          <td>{{ statistic.name }}</a></td>
          <td>{{ statistic.profile.url_profile }}</td>
          <td>{{ statistic.created_at }}</td>

          <td>
            {% if statistic.profile_pictures %}
              <img src="{{ statistic.profile_pictures.url }}" alt="Profile Picture" style="max-width: 100px; max-height: 100px;">
            {% else %}
              No Image
            {% endif %}
          </td>
          <td>{{ statistic.followers }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}